mixin dropdownField({title, placeholder, value})
  .dropdown-field
    h3.dropdown-field__title= title
    .dropdown-field__wrapper
      input.dropdown-field__input(placeholder=placeholder value=value)