@import '../../scss/colors.scss';

.footer-create {
  font-family: 'Montserrat';

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 60px;
    text-align: center;
    @media(max-width: 1200px) {
      padding: 15px 20px;
    }
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade-75;
  }
}