extends ../base/base

block title
  title List pages
  
block content
  .container
    ul.list-pages
      li.list-pages__item
        a(href="headersAndFooters.html") Headers & Footers
      li.list-pages__item
        a(href="colorsAndType.html") Colors & Type
      li.list-pages__item
        a(href="cards.html") Cards
