$white: #ffffff;
$white-2: #F4F4F6;
$darkShade-100: #1F2041;
$darkShade-75: rgba(31, 32, 65, 0.75);
$darkShade-50: rgba(31, 32, 65, 0.5);
$darkShade-25:  rgba(31, 32, 65, 0.25);
$darkShade-10: rgba(31, 32, 65, 0.1);
$darkShade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);