extends ../base/base

include ../../components/logo/logo
include ../../components/findApartmentsCard/findApartmentsCard

block title
  title Headers & Footers
block content
  .base-layout__kit
    .cards
      .cards__logo
        +logo({ui: true})
      .cards__container
        .cards__column
          .cards__item
            +findApartmentsCard()
          